spring:
  application:
    name: tradeswift-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/tradeswift
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

logging:
  level:
    com.tradeswift.backend: DEBUG